<main>
  <div class="filters__container">
    <div>
      <h4>Filters:</h4>
      <div>category</div>
      <button>most expensive</button>
      <button>less expensive</button>
    </div>
    <div class="pagination__container">
      <button>-</button>
      <button>+</button>
    </div>
  </div>
  <div class="products__container">

  </div>
  <div class="filters__container">
    <div>
      <h4>Filters:</h4>
      <div>category</div>
      <button>most expensive</button>
      <button>less expensive</button>
    </div>
    <div class="pagination__container">
      <button>-</button>
      <button>+</button>
    </div>
  </div>
</main>